.sidebar {
    height: 80%;
    width: 15%;
    position: absolute;
    top: 10%;
    left: 0;
    background: rgba(#bceae6, .4);
    align-items: center;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    transition: all .2s;
    backdrop-filter: blur(.5rem);

    &:hover {
        width: 45%;
        border-radius: 2rem;
        left: 2rem;

        .sidebar__item {
            opacity: 1;
            visibility: visible;
        }

        .sidebar__icon--show {
            opacity: 0;
            visibility: hidden;
            width: 20rem;
        }
    }

    &__item {
        position: relative;
        width: 100%;
        height: 25%;
        border-radius: 2rem;
        overflow: hidden;
        transition: all .2s;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;

        &:hover {
            background: rgba(#fff, .5);

            .sidebar__text {
                opacity: 1;
                visibility: visible;
            }

            .sidebar__icon {
                width: 15rem;
                left: 85%;
                top: 75%;
                opacity: .4;
            }
        }
    }

    &__text {
        position: absolute;
        font-size: 3rem;
        text-transform: uppercase;
        @include absolute-center;
        visibility: hidden;
        opacity: 0;
        transition: all .2s;
        z-index: 5;
        color: #cc5075;

    }

    &__icon {
        position: absolute;
        @include absolute-center;
        width: 6rem;
        transition: all .2s;
        filter: invert(6%) sepia(35%) saturate(7425%) hue-rotate(223deg) brightness(91%) contrast(96%);

        &--show {
            width: 5rem;
            position: absolute;
            top: 5rem;
            left: 50%;
            transform: translateX(-50%) rotate(-90deg);
            transition: all .2s;
            filter: invert(6%) sepia(35%) saturate(7425%) hue-rotate(223deg) brightness(91%) contrast(96%);
        }
    }
}